 h1 {
 	color: black;
 	font-size: 18px;
 	text-align: center;
 	display: inline-block;
 	padding: 3px;
 	width: auto;
 	border: 1px solid #000000;
 	border-radius: 50px;
 }
 
 div.smalletext {
 	text-align: center;
 	margin-left: 500;
 	margin-right: 500;
 }
 
 div.dikketext {}
 
 h5 {
 	text-decoration: underline;
 	font-size: 18px;
 	color: blue;
 }
 
 th,
 td {
 	border: 1px solid black;
 }
 
 table {
 	border: 3px solid black;
 	color: black;
 	font-size: 18px;
 	text-align: center;
 	display: inline-block;
 	padding: 3px;
 	width: auto;
 	border: 1px solid #000000;
 }
 
 html {
 	background: url(background.jpg) repeat-y center center;
 	background-color: #F5B700;
 	font-family: Georgia, serif;
 	text-align: center;
 }
 
 img {
 	border-radius: ;
 }
 
 a {
 	font-family: verdana;
 	color: red;
 	text-decoration: none;
 	font-size: 18px;
 	text-decoration: underline;
 }
 
 iframe,
 video {
 	border-radius: ;
 }
 
 iframe.geborderd {
 	border-radius: 20px;
 }
 
 a.knoppen {
 	display: -moz-inline-box;
 	display: inline-block;
 	text-transform: uppercase;
 	text-align: center;
 	padding: 20px;
 	margin-bottom: -20px;
 	color: #ffffff;
 	font-weight: bold;
 	text-decoration: none;
 	width: auto;
 	background-color: black;
 }
 
 a.knoppen:hover {
 	transition: 0.3s ease-in-out;
 	text-shadow: 1px 1px 10px white;
 	background-color: black;
 }